@import "tailwindcss";

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/BebasNeue-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('./fonts/Oswald.woff2') format('woff2');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400 600;
  font-display: swap;
  src: url('./fonts/Outfit.woff2') format('woff2');
}

@theme {
  --font-display: 'Oswald', sans-serif;
  --font-body: 'Outfit', sans-serif;
  --font-accent: 'Bebas Neue', sans-serif;
}
